<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Cost report app </title>
</head>
<body>

<h1 style="text-align:center;"><p>
    <font size ='10' face ="ariel" color="#ffa07a"></font> Cost report app! </p>
</h1>

<form action="http://localhost:1030" method="GET">
    <p>
        <font size ='6'face="ariel" color="#ffa07a"> Welcome to cost report app : </font>
    </p>

    <br/>
    please enter your id :<input type="text" name="id">
    <br/>
    <br/>
    <p>
        <font size ='4'face="ariel" color="red"> please follow to the constructors....</font>
    </p>
    <br/>
    <font size ='4'face="ariel" color="#ffa07a"> To get your cost report :</font>
    <br/>
    please enter the year of the report like '2022'  :<input type="text" name="year">
    <br/>
    please enter the year of the report like '05' :<input type="text" name="month">
    <br/>
    To get the report please enter submit<input type="submit" />
    <br/>
    <br/>
    <font size ='4'face="ariel" color="#ffa07a">To add product to your app account please fill the details: </font>
    <br/>
    <br/>
    please enter the name of the product :<input type="text" name="product">
    <br/>
    please enter the sum :<input type="text" name="sum">
    <br/>
    please enter the category of the item : <input type="text" name="category">
    <br/>
    please enter description of the item : <input type="text" name="description">
    <br/>
    To add the item to the cost report please enter add <input type="submit" />
    <br/>

</form>
</body>

</html>
